body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #3ABEE3;
  color: white;
}

.basic-counter {
  background-color: olive;
}

.step-counter {
  border: 2px dotted yellow;
  background-color: yellow;
  color: black;
}

.step-counter-two {
  background-color: salmon;
}
